 .cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 25px #2a2c2f;
  margin: 245px 0 0;
}

@media screen and (max-width: 1100px) {
  .cover__title {
    margin-top: 195px;
  }
}
@media screen and (max-width: 800px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 400px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.09;
    margin-top: 33px;
  }
}