.places__website {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .places__website {
    padding-left: 16px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 300px) {
  .places__website {
    max-width: 210px;
  }
}